{% load static %}

{% comment %} {% extends "index.html" %}  {% endcomment %}
<head>
    <title>{% block title %}Reset Your Password{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
  </head>

{% block content %}
<div class="password-reset-container">
  <h1 class="password-reset-title">Password set</h1>
  <p class="password-reset-text ">
    Your password has been set. You can <a class="password-reset-link" href="{% url 'eventapp:login' %}">login now</a>
  </p>
</div>
{% endblock %}
