{% load static %}
{% comment %} {% extends"index.html" %}  {% endcomment %}
<head>
    <title>{% block title %}Reset Your Password{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
  </head>
  {% block content %}
  <div class="password-reset-container">
    <h1 class="password-reset-title">Reset Your Password</h1>
    {% if validlink %}
      <p class="password-reset-text">Please enter your new password twice:</p>
      <form class="password-reset-form" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input class="password-reset-submit" type="submit" value="Change My Password"/></p>
      </form>
    {% else %}
      <p class="password-reset-error">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
  {% endblock %}



















