{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
<head>
  <title>{% block title %}Reset Your Password{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
</head>
<body>
{% block content %}
<div class="password-reset-container">
    <h2 class="password-reset-title">Forgotten Your Password?</h2>
    <p class="password-reset-text">Enter your email address to obtain a new password.</p>
    <form action="." method="post" class="password-reset-form">
      {{ form.as_p }}
      <p class="password-reset-submit">
          <input class="btn btn-primary" type="submit" value="Send Email">
      </p>
      {% csrf_token %}
  </form>
</div>
{% endblock %}
</body>

