{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet"type="text/css" href="{% static 'css/webinar.css' %}">
  <link rel="icon" href="{% static 'images/eventoplanneur.png' %}" type="image/x-icon">
</head>
<style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    h3 {
      text-align: center;
      padding: 20px;
      color: white;
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }

    .gallery div {
      max-width: 300px;
      text-align: center;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .gallery img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
    }

    .caption {
      padding: 10px;
      color: #666;
    }
</style>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="containers">
      <a class="navbar-brand" href="{% url 'eventapp:index' %}">
        <img src="{% static 'images/Eventoplanneur.png' %}" alt="Logo" width="50"> EventoPlanneur
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:index' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#reviews">Reviews & Ratings</a></li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" >User: {{ user.email }}</a>
            <li class="nav-item"><a href="{% url 'eventapp:logout' %}" class="nav-link">Logout</a></li>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h3>Snapshots</h3>
  <div class="gallery">
      <!-- Add your images here -->
      <div>
        <img src="https://images.unsplash.com/photo-1519225421980-715cb0215aed?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGV2ZW50JTIwcGxhbm5pbmd8ZW58MHx8MHx8fDA%3D" alt="Image 1">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 2">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1561489413-985b06da5bee?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 3">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1510511233900-1982d92bd835?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 4">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1561489396-888724a1543d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 5">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1517457373958-b7bdd4587205?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzB8fGV2ZW50JTIwcGxhbm5pbmd8ZW58MHx8MHx8fDA%3D" alt="Image 6">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 7">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1576085898323-218337e3e43c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 8">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1515168833906-d2a3b82b302a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 10">
      </div>
      <div>
          <img src="https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 11">
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1560439514-e960a3ef5019?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 12">
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1517637633369-e4cc28755e01?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 13">
  </div>
  <div>
    <img src="https://images.unsplash.com/photo-1515187029135-18ee286d815b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 14">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1562649268-bd8fa4cf7ad7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc2fHxjb25mZXJlbmNlJTIwJTIwJTIwZXZlbnR8ZW58MHx8MHx8fDA%3D" alt="Image 15">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uZmVyZW5jZSUyMCUyMCUyMGV2ZW50fGVufDB8fDB8fHww" alt="Image 16">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1559223694-98ed5e272fef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29uZmVyZW5jZSUyMCUyMCUyMGV2ZW50fGVufDB8fDB8fHww" alt="Image 17">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29uZmVyZW5jZSUyMCUyMCUyMGV2ZW50fGVufDB8fDB8fHww" alt="Image 18">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1586985564150-11ee04838034?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGNvbmZlcmVuY2UlMjAlMjAlMjBldmVudHxlbnwwfHwwfHx8MA%3D%3D" alt="Image 19">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1571645163064-77faa9676a46?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 20">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1634155938686-24a26c55d71a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 21">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1565365527469-4008f67e8664?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTgzfHxjb25mZXJlbmNlJTIwJTIwJTIwZXZlbnR8ZW58MHx8MHx8fDA%3D" alt="Image 22">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1654609160632-7324716196fb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc1fHxjb25mZXJlbmNlJTIwJTIwJTIwZXZlbnR8ZW58MHx8MHx8fDA%3D" alt="Image 22">
</div>
  </div>
</body>
</html>