{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services Form</title>
    <!-- Add CSS styles if needed -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add custom CSS -->
    <!-- Add favicon -->
    <link rel="icon" href="{% static 'images/eventoplanneur.png' %}" type="image/x-icon">
    <!-- Add jQuery and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <!-- Add Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Add these links in the head section of your HTML file -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

{% comment %} <script>
    $(document).ready(function () {
        // Hide all services and packages initially
        $(".service-item").hide();

        
        // On checkbox change, toggle visibility of corresponding services and packages
        $("input[type='checkbox']").change(function () {
            var category = $(this).val();
            $(".service-item[data-category='" + category + "']").toggle();

        });
    });
</script> {% endcomment %}

  
</head>
<style>
body {
    font-family: 'Open Sans', sans-serif;
}
.form-check-input:checked+.form-check-label {
    color: #008080;
}
h3{
    color:#00356B;
    padding:20px;
}
p{
    color:#00356B;
    padding-left:20px;
}
.containers{
    margin-left: 50px;
    margin-right:50px;
    background-color:white;
}
.form-check-label {
    font-weight: normal;
}
.service-item {
    margin-left: 20px;
    background-color:#f2f7ff;
}
.form-group{
    margin-left: 90px;
}
@media (max-width: 767px) {
    .navbar-nav.ml-auto {
        margin-top: 10px;
    }
}

</style>
<body style="background-color: #f2f7ff;">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="con">
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand" href="{% url 'eventapp:orghome' %}">
                    <img src="{% static 'images/Eventoplanneur.png' %}" alt="Logo" width="50"> EventoPlanneur
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:bookings' %}">Bookings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:gallery' %}">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:review_service' %}">Reviews & Ratings</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:org_profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notifications">Notifications</a></li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link" >User: {{ user.email }}</a>
                        <li class="nav-item"><a href="{% url 'eventapp:logout' %}" class="nav-link">Logout</a></li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
<div class="containers mt-5">
    <h3 class="text-center mb-5">Choose Services</h3>
    
    {% if webinar_location %}
        <p> Location: {{ webinar_location }}</p>
    {% endif %}

    {% if webinar_date %}
        <p> Date: {{ webinar_date }}</p>
    {% endif %}

    <div class="form-group">
        <label for="serviceCategories">Service Categories:</label><br/>
        {% for option in service_options %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="{{ option }}" name="service_categories[]" value="{{ option }}">
                <label class="form-check-label" for="{{ option }}">{{ option|capfirst }}</label>
            </div>
        {% endfor %}
    </div>
    
    {% if packages %}
        <div class="container mt-4">
            <h2>Packages:</h2>
            <input type="text" id="participants" name="participants" value="{{ participants }}" hidden>
            <div class="row">
                
                {% comment %} {% for package in packages %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush services-list">
                                {% for service in package.services.all %}
                                    {% if webinar_location in service.locations %}
                                        <li class="list-group-item service-item" data-category="{{ service.category }}">
                                            <a href="{% url 'viewservices' service.id %}" class="d-block text-decoration-none">{{ service.name }}</a><br>
                                            <small class="text-muted ms-auto" id="rate">${{ service.rate }}/person</small>

                                            {% if service.date == webinar_date %}
                                                <span class="badge bg-danger">Booked</span>
                                            {% else %}
                                                <span class="badge bg-success">Available</span>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %} {% endcomment %}
            {% for package in packages %}
            <div class="package">
                <h3>{{ package.name }}</h3>
                <ul class="list-group">
                    {% for service in package.services.all %}
                        {% if webinar_location %}
                            {% if webinar_location in service.locations %}
                                <li class="list-group-item service-item" data-category="{{ service.category }}">
                                    <a href="{% url 'viewservices' service.id %}" class="d-block text-decoration-none">{{ service.name }}</a><br>
                                    <small class="text-muted ms-auto" id="rate">${{ service.rate }}/person</small>
                                    <p>{{ service.date }}</p>
                                    {% if service.date == webinar_date %}
                                        <span class="badge bg-danger">Booked</span>
                                    {% else %}
                                        <span class="badge bg-success">Available</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% else %}
                        <li class="list-group-item service-item" data-category="{{ service.category }}">
                            <a href="{% url 'viewservices' service.id %}" class="d-block text-decoration-none">{{ service.name }}</a><br>
                            <small class="text-muted ms-auto" id="rate">${{ service.rate }}/person</small>
    
                            {% if service.date == webinar_date %}
                                <span class="badge bg-danger">Booked</span>
                            {% else %}
                                <span class="badge bg-success">Available</span>
                            {% endif %}
                        </li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <script>
            $(document).ready(function () {
                // Hide all services and packages initially
                $(".service-item").hide();
        
                // O        n checkbox change, toggle visibility of corresponding services and packages
                $("input[type='checkbox']").change(function () {
                    var category = $(this).val();
                    $(".service-item[data-category='" + category + "']").toggle();
                });
        
                // Sort packages based on the number of displayed services
                var packages = $(".package");
                packages.sort(function (a, b) {
                    var servicesA = $(a).find(".service-item:visible").length;
                    var servicesB = $(b).find(".service-item:visible").length;
                    return servicesB - servicesA;
                });
        
                // Append sorted packages to the container
                $(".container").append(packages);
            });
        </script>
        
            </div>
            
        </div>
    {% else %}
        <p class="container mt-4">No packages available.</p>
    {% endif %}
</div>
    {% endblock %}
    <a class="btn2" onclick="goBack()" style="background-color: #F3B95F; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: 79px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    Go Back
</a>
<script>
  function goBack() {
      window.history.back();
  }
</script>
</body>
</html>
