{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Conference</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet"type="text/css" href="{% static 'css/webinar.css' %}">
  <link rel="icon" href="{% static 'images/eventoplanneur.png' %}" type="image/x-icon">
    
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'eventapp:orghome' %}">
        <img src="{% static 'images/Eventoplanneur.png' %}" alt="Logo" width="50"> EventoPlanneur
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="#clients">Clients</a></li>
          <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="#reviews">Reviews & Ratings</a></li>
          <li class="nav-item"><a class="nav-link" href="#profile">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="#notifications">Notifications</a></li>
          
          <li>
                  <a href="{% url 'eventapp:logout' %}" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <div class="events">
    <h4>Update Conference</h4>
    <form method="POST" id="webinar" >
      {% csrf_token %}
      <table>
        <tr>
          <td>
            <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-control" value="{{form.title.value}}" required>
            <span id="titleError" class="error-text"></span>
        </div>
      </td>
      <td>
        <div class="mb-3">
            <label for="organizer_name" class="form-label">Organizer Name:</label>
            <input type="text" id="organizer_name" name="organizer_name" class="form-control" value="{{form.title.value}}" required>
            <span id="organizer_nameError" class="error-text"></span>
        </div></td>
      
      
      </tr><tr><td>
        <div class="mb-3">
        <label for="start_date" class="form-label">Start Date<span>*</span>:</label>
        <input type="date" id="start_date" name="start_date" class="form-control" value="{{ form.start_date.value|date:'Y-m-d' }}" required>
        <span id="start_dateError" class="error-text"></span>
    </div></td>
    <td>
        <div class="mb-3">
          <label for="start_time" class="form-label">Start Time<span>*</span>:</label>
          <input type="time" id="start_time" name="start_time" value="{{ form.start_time.value|date:'H:i' }}"class="form-control">
          <span id="timeError" class="error-text"></span>
        </div></td></tr>
        <tr><td>
            <div class="mb-3">
                <label for="end_date" class="form-label">End Date<span>*</span>:</label>
                <input type="date" id="end_date" name="end_date" value="{{ form.end_date.value|date:'Y-m-d' }}"class="form-control" required>
              <span id="end_dateError" class="error-text"></span>
            </div></td><td>
            <div class="mb-3">
                <label for="end_time" class="form-label">End Time<span>*</span>:</label>
                <input type="time" id="end_time" name="end_time" value="{{ form.end_time.value|date:'H:i' }}"class="form-control">
                <span id="end_timeError" class="error-text"></span>
              </div></td>
        </tr><tr><td>
          <div class="mb-3">
            <label for="event_type"  class="form-label">Event Type:</label>
            <input type="text" id="event_type" name="event_type" class="form-control" value="{{form.event_type.value}}" required>
            <span id="event_typeError" class="error-text"></span>
        </div></td><td>
      <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input type="text" id="location" name="location" value="{{form.location.value}}" class="form-control">
          <span id="locationError" class="error-text"></span>
      </div>
      <div class="mb-3" id="url_div">
              <label for="livestream" class="form-label">Livestream Link:</label>
              <input type="text" id="livestream" name="livestream" value="{{form.livestream.value}}"class="form-control">
              <span id="urlError" class="error-text"></span>
          </div></td>
        </tr><tr><td>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline<span>*</span>:</label>
                <input type="date" id="deadline" name="deadline" class="form-control" value="{{ form.deadline.value|date:'Y-m-d' }}"required>
              <span id="deadlineError" class="error-text"></span>
            </div></td><td>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Contact number:</label>
            <input type="text" id="phone_number" name="phone_number" value="{{form.phone_number.value}}" class="form-control" required>
            <span id="contactError" class="error-text"></span>
        </div></td></tr><tr><td>
        <div class="mb-3">
            <label for="fee" class="form-label">Fee:</label>
            <input type="number" id="fee" name="fee" class="form-control" value="{{form.fee.value}}" required>
            <span id="feeError" class="error-text"></span>
        </div></td><td>
          <div class="mb-3">
              <label for="poster" class="form-label">Poster( Image URL ):</label>
              <input type="text" id="poster" name="poster" class="form-control" value="{{form.poster.value}}" required>
            <span id="posterError" class="error-text"></span>
          </div></td></tr>
          <tr><td>
            <div class="form-group">
              <label for="speakers">Speakers:</label>
              <div id="speakers-container">
                {% for speaker in speakers %}
                  <div class="speaker" style="display: flex;">
                    <input type="text" style="width: 60px;" id="designation_{{ speaker.id }}" name="speakers-{{ speaker.id }}-designation" class="form-control" value="{{ speaker.designation }}" required>
                    <input type="text" id="speaker_name_{{ speaker.id }}" name="speakers-{{ speaker.id }}-speaker_name" class="form-control" value="{{ speaker.speaker_name }}" required>
                  </div>
                {% endfor %}
              </div>
              <button type="button" id="add-speaker" class="btn btn-secondary">+</button>
            </div></td>
            <td>
              <div class="mb-3">
                  <label for="description" class="form-label">Description:</label>
                  <textarea id="description" name="description" class="form-control" rows="4" cols="50" >{{form.description.value}}</textarea>
              <span id="descriptionError" class="error-text"></span>
              </div></td>
          </tr><tr><td></table> 
            <button id="sendButton" type="submit">Update</button></td><td>
            <button id="sendButton"><a style="text-decoration:none;color:white;" href="{% url 'eventapp:conference' %}">Back</a></button></td></tr>
  </form>
    
<script src="{% static 'js/conference.js' %}"></script>
  </div>
</div> 

<footer class="bg-dark text-white text-center py-3">
    <div class="container">
      &copy; 2023 EventoPlanneur. All rights reserved.
    </div>
  </footer>
  

</body>
</html>